/* Base Styles -------------------- */

 /* * {
  box-sizing: border-box;
} */

 body {
  background-color: #9494b8;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* header{
  position:absolute;
  top: 0;
} */

.main-header {

  background:
    linear-gradient( #00cccc, transparent 90%),
    linear-gradient(0deg, #fff, transparent),
    #ffa949 url('../img/tv.jpg') no-repeat center;
  background-size: cover;
}

h1,
h2 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1 rgba(0,0,0, .8);
  margin: 80px 0 0;

}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}



img {
  max-width: 300px;
  max-height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px orange;
}



div p {
    font-family: 'Space Mono', monospace;
    vertical-align: middle;

}

h2 span {
    font-family: 'Amatic SC', cursive;
}

div .col:nth-of-type(odd){
  background: linear-gradient( transparent 10%, #b82e8a, transparent 90%);

}


div .col:nth-of-type(even){
  background: linear-gradient( transparent 10%, #33ffbb, transparent 90%);
}



/* Main Styles --------------------- */
