/* Base Styles -------------------- */


 body {
  background-color: #9494b8;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-header {
  background:
    linear-gradient( #00cccc, transparent 90%),
    linear-gradient(0deg, #fff, transparent),
    #ffa949 url('../img/tv.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}

h1,
{
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 3rem;
  color: rgb(163, 152, 3);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1 rgba(0,0,0, .8);
}




img {
  max-width: 300px;
  max-height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px orange;
}

.picture{
  text-align: center;
}



div p {
    font-family: 'Space Mono', monospace;
    vertical-align: middle;
    text-align: justify;
}

div span {
  font-family: 'Bebas Neue', cursive;

}


div .col:nth-of-type(odd){
  background: linear-gradient( transparent 10%, #b82e8a, transparent 90%);

}


div .col:nth-of-type(even){
  background: linear-gradient( transparent 10%, #33ffbb, transparent 90%);
}



/* Main Styles --------------------- */
