
body{
  /* HIDE THE CURSOR */
  cursor: none; 
}

/* AWESOME CURSOR */

.cursor {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgb(165, 15, 43);
  background: rgb(165, 15, 43);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;

}

.cursor-grow{
  background: none;
  transform: scale(1.5);
  
}
/* AWESOME CURSOR */

/* Header */
header {
  color: cornsilk;
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
  margin-top: 0;
  background:
    linear-gradient(#007bff 10%,  #00cccc, transparent 90%),
    linear-gradient(0deg, #fff, transparent);
}

p {
  margin: 1rem 2rem;
  color: black;
  text-align: justify;
  line-height: 1.8rem;
}





/* ENTRIES FORMAT */
.projects-entries {
  margin-top: 4rem;
  max-width: 650px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 150px;
  padding-bottom: 50px;
  font-family: 'Ubuntu', sans-serif;

}

.projects-entries a{
 margin: 0 1.2rem;
}

/* RIBBON/TITLE ON THE ENTRIES */

.projects-entries h5 {

    margin-top: 0;
    padding: 1.2rem 0;
    background-color: darkmagenta;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 27px;
    text-transform: uppercase;
    width: auto;
    font-weight: normal;
}

.projects-entries p {
  font-family: 'Roboto Slab', serif;
  display: none;
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
}




.project-card {
 width: 100%;
 float: left;
 border-radius: 10%;
 overflow: hidden;
 position: relative;
 text-align: center;
 height: 40vh;
 background-size: cover;
 display: block;
  /* HIDE THE CURSOR */
  cursor: none;
}


/* CHANGING THE APPEARENCE OF PROJECT-CARD  TO DESCRIBE WHAT MY PROJECT IS ABOUT WHEN THE MOUSE MOVES ON THE DIV */

.description{
 background-color: #3F0C90;
}

.description h5 {
 color: #d39e00;
}

.description p{
 display: block;
}

.description h5{
 margin-top: 1rem;
}


/* ENTRIES'S BACKGROUND */

#tvseries {
 background-image: url('../img/main/tv.jpg');

}

#mobilePhones {
 background-image: url('../img/main/mobile_phones_collection.jpg');

}






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 576PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media (min-width: 576px) {

header {

 font-size: 50px;

}

/* KEEP THE CONTAINER WIDTH 100% OVERIDING THE BOOTSTRAP RULE @media (min-width: 576px) */
.container-projects{

 max-width: 2560px
 }


.projects-entries{
   grid-row-gap: 100px;
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 120px;
 }


}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 992PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 992px) {


header {

   font-size: 77px;

 }

 p {
  margin: 1rem 6rem;
 }


 .projects-entries  {
   max-width: 1000px;
   grid-column-gap: 70px;
   margin-top: 75px;
 }


}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> MEDIA QUERY MIN-WIDTH: 1440PX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
@media (min-width: 1440px) {


 .projects-entries {

   max-width: 1350px;
   grid-column-gap: 175px;

 }


}
