/*


.slide {

max-height: 100vh;

}


#startac {
  object-position: top;
  object-fit: scale-down;
}

#savvy{

object-position: 50% 15%;
object-fit:  scale-down;
}

#navigator {
  object-position: top;
  object-fit: scale-down;
}

#sonye {
  object-position: top;
  object-fit:  none;
}

#htc {
  object-position: top;
  object-fit:  none;
}


.top {

object-position: top;
}

.scaleDown {

  object-fit: scale-down;
}

.center {

object-position: 50% 25%;

} */
