
.onbottom {
    padding-top: 0.5rem;
    position: absolute;
    height: 6rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-item {

  height: 50rem;
  width: 100%;

}
